@import "tailwindcss";

@theme {
  --color-gold-500: #D4AF37;
  --color-gold-200: #F3E5AB;
  
  --color-dark-900: #0A0A0A;
  --color-dark-800: #111111;
  --color-dark-700: #1A1A1A;
  --color-dark-600: #2A2A2A;
  
  --color-text-light: #E5E5E5;
  --color-text-muted: #A3A3A3;
}

@layer base {
  body {
    @apply bg-dark-900 text-text-light m-0 p-0 font-sans antialiased;
  }
}
